@import "@opengovsg/oui-theme/tailwind.css";
@source "../../../packages/components/src/**/*.{js,jsx,ts,tsx}";
@source "../../../packages/components/stories/**/*.stories.{js,jsx,ts,tsx}";
@source "../../../packages/theme/src/components/**/*.{js,jsx,ts,tsx}";
@source "../../../packages/theme/src/utils/**/*.{js,jsx,ts,tsx}";
@source "../../../packages/theme/stories/**/*.{js,jsx,ts,tsx}";
@source "./examples/**/*.{js,jsx,ts,tsx}";
@source "../**/*.{js,jsx,ts,tsx}";

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex size-6 items-center justify-center rounded-full bg-black text-center -indent-px font-mono text-base font-medium text-white;
    @apply mt-[2px] ml-[-45px];
    content: counter(step);
  }

  .dark {
    .step:before {
      @apply bg-white text-black;
    }
  }
}

:root {
  --header-height: 57px;
  --content-height: calc(100dvh - var(--header-height));
}

@utility scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scrollbar-default {
  scrollbar-width: auto;
  -ms-overflow-style: auto;
  &::-webkit-scrollbar {
    display: block;
  }
}

.mdx > .steps:first-child > h3:first-child {
  @apply mt-0;
}

.steps > h3 {
  @apply mt-8 mb-4 text-base font-semibold;
}

@theme {
  @keyframes modal-blur {
    from {
      background: color-mix(in oklab, var(--color-grey-900) 0%, transparent);
      backdrop-filter: blur(0);
    }

    to {
      background: color-mix(in oklab, var(--color-grey-900) 30%, transparent);
      backdrop-filter: blur(8px);
    }
  }

  @keyframes modal-slide {
    from {
      transform: translateY(100%);
    }

    to {
      transform: translateY(0);
    }
  }

  --animate-modal-slide-enter: modal-slide 200ms;
  --animate-modal-slide-exit: modal-slide 200ms reverse;

  --animate-modal-blur-enter: modal-blur 200ms;
  --animate-modal-blur-exit: modal-blur 200ms reverse;
}
