auto-install-peers=true
enable-pre-post-scripts=true
public-hoist-pattern[]=*tailwind-variants*
public-hoist-pattern[]=*@react-aria/*
public-hoist-pattern[]=*@react-types/*
public-hoist-pattern[]=*@opengovsg/oui*
public-hoist-pattern[]=@oui/prettier-config
public-hoist-pattern[]=@ianvs/prettier-plugin-sort-imports
public-hoist-pattern[]=prettier-plugin-tailwindcss
