@import "tailwindcss";
@import "tw-animate-css";
@plugin "tailwindcss-react-aria-components";

@import "./variants/base.css";

@custom-variant dark (&:where(.dark, .dark *));

@utility scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility scrollbar-default {
  scrollbar-width: auto;
  -ms-overflow-style: auto;
  &::-webkit-scrollbar {
    display: auto;
  }
}

@theme {
  /* TODO: Split up theme specific variables */
  --shadow-sm: 0px 0px 10px 0px rgba(191, 191, 191, 0.5);
  --shadow-md: 0px 0px 20px 0px rgba(104, 104, 104, 0.3);

  --text-xs--line-height: 1rem;

  --animate-spinner-ease-spin: spinner-spin 0.8s ease infinite;
  --animate-spinner-linear-spin: spinner-spin 0.8s linear infinite;

  @keyframes spinner-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* TODO: Add outline generation when generating border colors too */
  --outline-color-focus-ring: var(--theme-border-color-focus-ring);

  --text-color-default: var(--theme-text-color-default);
  --text-color-strong: var(--theme-text-color-strong);
  --text-color-subtle: var(--theme-text-color-subtle);
  --text-color-placeholder: var(--theme-text-color-placeholder);
  --text-color-disabled: var(--theme-text-color-disabled);
  --text-color-inverse: var(--theme-text-color-inverse);
  --text-color-primary: var(--theme-text-color-primary);
  --text-color-neutral: var(--theme-text-color-neutral);
  --text-color-warning: var(--theme-text-color-warning);
  --text-color-success: var(--theme-text-color-success);
  --text-color-danger: var(--theme-text-color-danger);
  --text-color-info: var(--theme-text-color-info);
  --text-color-primary-hover: var(--theme-text-color-primary-hover);
  --text-color-neutral-hover: var(--theme-text-color-neutral-hover);
  --text-color-warning-hover: var(--theme-text-color-warning-hover);
  --text-color-success-hover: var(--theme-text-color-success-hover);
  --text-color-danger-hover: var(--theme-text-color-danger-hover);
  --text-color-info-hover: var(--theme-text-color-info-hover);
  --text-color-primary-active: var(--theme-text-color-primary-active);
  --text-color-neutral-active: var(--theme-text-color-neutral-active);
  --text-color-warning-active: var(--theme-text-color-warning-active);
  --text-color-success-active: var(--theme-text-color-success-active);
  --text-color-danger-active: var(--theme-text-color-danger-active);
  --text-color-info-active: var(--theme-text-color-info-active);
  --text-color-primary-strong: var(--theme-text-color-primary-strong);
  --text-color-neutral-strong: var(--theme-text-color-neutral-strong);
  --text-color-warning-strong: var(--theme-text-color-warning-strong);
  --text-color-success-strong: var(--theme-text-color-success-strong);
  --text-color-danger-strong: var(--theme-text-color-danger-strong);
  --text-color-info-strong: var(--theme-text-color-info-strong);
  --text-color-primary-strong-hover: var(
    --theme-text-color-primary-strong-hover
  );
  --text-color-neutral-strong-hover: var(
    --theme-text-color-neutral-strong-hover
  );
  --text-color-warning-strong-hover: var(
    --theme-text-color-warning-strong-hover
  );
  --text-color-success-strong-hover: var(
    --theme-text-color-success-strong-hover
  );
  --text-color-danger-strong-hover: var(--theme-text-color-danger-strong-hover);
  --text-color-info-strong-hover: var(--theme-text-color-info-strong-hover);
  --text-color-primary-strong-active: var(
    --theme-text-color-primary-strong-active
  );
  --text-color-neutral-strong-active: var(
    --theme-text-color-neutral-strong-active
  );
  --text-color-warning-strong-active: var(
    --theme-text-color-warning-strong-active
  );
  --text-color-success-strong-active: var(
    --theme-text-color-success-strong-active
  );
  --text-color-danger-strong-active: var(
    --theme-text-color-danger-strong-active
  );
  --text-color-info-strong-active: var(--theme-text-color-info-strong-active);
  --background-color-base: var(--theme-background-color-base);
  --background-color-alt: var(--theme-background-color-alt);
  --background-color-backdrop: var(--theme-background-color-backdrop);
  --background-color-disabled: var(--theme-background-color-disabled);
  --background-color-inverse: var(--theme-background-color-inverse);
  --background-color-brand: var(--theme-background-color-brand);
  --background-color-primary: var(--theme-background-color-primary);
  --background-color-neutral: var(--theme-background-color-neutral);
  --background-color-warning: var(--theme-background-color-warning);
  --background-color-success: var(--theme-background-color-success);
  --background-color-danger: var(--theme-background-color-danger);
  --background-color-info: var(--theme-background-color-info);
  --background-color-primary: var(--theme-background-color-primary);
  --background-color-neutral: var(--theme-background-color-neutral);
  --background-color-warning: var(--theme-background-color-warning);
  --background-color-success: var(--theme-background-color-success);
  --background-color-danger: var(--theme-background-color-danger);
  --background-color-info: var(--theme-background-color-info);
  --background-color-primary-active: var(
    --theme-background-color-primary-active
  );
  --background-color-neutral-active: var(
    --theme-background-color-neutral-active
  );
  --background-color-warning-active: var(
    --theme-background-color-warning-active
  );
  --background-color-success-active: var(
    --theme-background-color-success-active
  );
  --background-color-danger-active: var(--theme-background-color-danger-active);
  --background-color-info-active: var(--theme-background-color-info-active);
  --background-color-banner-primary: var(
    --theme-background-color-banner-primary
  );
  --background-color-banner-neutral: var(
    --theme-background-color-banner-neutral
  );
  --background-color-banner-warning: var(
    --theme-background-color-banner-warning
  );
  --background-color-banner-success: var(
    --theme-background-color-banner-success
  );
  --background-color-banner-danger: var(--theme-background-color-banner-danger);
  --background-color-banner-info: var(--theme-background-color-banner-info);
  --background-color-primary-subtle: var(
    --theme-background-color-primary-subtle
  );
  --background-color-neutral-subtle: var(
    --theme-background-color-neutral-subtle
  );
  --background-color-warning-subtle: var(
    --theme-background-color-warning-subtle
  );
  --background-color-success-subtle: var(
    --theme-background-color-success-subtle
  );
  --background-color-danger-subtle: var(--theme-background-color-danger-subtle);
  --background-color-info-subtle: var(--theme-background-color-info-subtle);
  --background-color-primary-subtle-hover: var(
    --theme-background-color-primary-subtle-hover
  );
  --background-color-neutral-subtle-hover: var(
    --theme-background-color-neutral-subtle-hover
  );
  --background-color-warning-subtle-hover: var(
    --theme-background-color-warning-subtle-hover
  );
  --background-color-success-subtle-hover: var(
    --theme-background-color-success-subtle-hover
  );
  --background-color-danger-subtle-hover: var(
    --theme-background-color-danger-subtle-hover
  );
  --background-color-info-subtle-hover: var(
    --theme-background-color-info-subtle-hover
  );
  --background-color-primary-subtle-active: var(
    --theme-background-color-primary-subtle-active
  );
  --background-color-neutral-subtle-active: var(
    --theme-background-color-neutral-subtle-active
  );
  --background-color-warning-subtle-active: var(
    --theme-background-color-warning-subtle-active
  );
  --background-color-success-subtle-active: var(
    --theme-background-color-success-subtle-active
  );
  --background-color-danger-subtle-active: var(
    --theme-background-color-danger-subtle-active
  );
  --background-color-info-subtle-active: var(
    --theme-background-color-info-subtle-active
  );
  --border-color-default: var(--theme-border-color-default);
  --border-color-subtle: var(--theme-border-color-subtle);
  --border-color-disabled: var(--theme-border-color-disabled);
  --border-color-focus-ring: var(--theme-border-color-focus-ring);
  --border-color-primary: var(--theme-border-color-primary);
  --border-color-neutral: var(--theme-border-color-neutral);
  --border-color-warning: var(--theme-border-color-warning);
  --border-color-success: var(--theme-border-color-success);
  --border-color-danger: var(--theme-border-color-danger);
  --border-color-info: var(--theme-border-color-info);
  --border-color-primary-hover: var(--theme-border-color-primary-hover);
  --border-color-neutral-hover: var(--theme-border-color-neutral-hover);
  --border-color-warning-hover: var(--theme-border-color-warning-hover);
  --border-color-success-hover: var(--theme-border-color-success-hover);
  --border-color-danger-hover: var(--theme-border-color-danger-hover);
  --border-color-info-hover: var(--theme-border-color-info-hover);
  --border-color-primary-active: var(--theme-border-color-primary-active);
  --border-color-neutral-active: var(--theme-border-color-neutral-active);
  --border-color-warning-active: var(--theme-border-color-warning-active);
  --border-color-success-active: var(--theme-border-color-success-active);
  --border-color-danger-active: var(--theme-border-color-danger-active);
  --border-color-info-active: var(--theme-border-color-info-active);
  --border-color-primary-strong: var(--theme-border-color-primary-strong);
  --border-color-neutral-strong: var(--theme-border-color-neutral-strong);
  --border-color-warning-strong: var(--theme-border-color-warning-strong);
  --border-color-success-strong: var(--theme-border-color-success-strong);
  --border-color-danger-strong: var(--theme-border-color-danger-strong);
  --border-color-info-strong: var(--theme-border-color-info-strong);
  --background-color-tooltip: var(--theme-background-color-tooltip);
  --background-color-input: var(--theme-background-color-input);
  --background-color-input-active: var(--theme-background-color-input-active);
  --background-color-input-disabled: var(
    --theme-background-color-input-disabled
  );
  --border-color-input: var(--theme-border-color-input);
  --background-color-btn-primary: var(--theme-background-color-btn-primary);
  --background-color-btn-primary-hover: var(
    --theme-background-color-btn-primary-hover
  );
  --background-color-btn-primary-active: var(
    --theme-background-color-btn-primary-active
  );
  --text-color-btn-primary: var(--theme-text-color-btn-primary);
  --text-color-btn-primary-hover: var(--theme-text-color-btn-primary-hover);
  --text-color-btn-primary-active: var(--theme-text-color-btn-primary-active);
  --border-color-btn-primary: var(--theme-border-color-btn-primary);
  --background-color-btn-secondary: var(--theme-background-color-btn-secondary);
  --background-color-btn-secondary-hover: var(
    --theme-background-color-btn-secondary-hover
  );
  --background-color-btn-secondary-active: var(
    --theme-background-color-btn-secondary-active
  );
  --text-color-btn-secondary: var(--theme-text-color-btn-secondary);
  --text-color-btn-secondary-hover: var(--theme-text-color-btn-secondary-hover);
  --text-color-btn-secondary-active: var(
    --theme-text-color-btn-secondary-active
  );
  --border-color-btn-secondary: var(--theme-border-color-btn-secondary);
  --background-color-btn-destructive: var(
    --theme-background-color-btn-destructive
  );
  --background-color-btn-destructive-hover: var(
    --theme-background-color-btn-destructive-hover
  );
  --background-color-btn-destructive-active: var(
    --theme-background-color-btn-destructive-active
  );
  --text-color-btn-destructive: var(--theme-text-color-btn-destructive);
  --text-color-btn-destructive-hover: var(
    --theme-text-color-btn-destructive-hover
  );
  --text-color-btn-destructive-active: var(
    --theme-text-color-btn-destructive-active
  );
  --border-color-btn-destructive: var(--theme-border-color-btn-destructive);
}
