@import "inter-ui/inter.css";
@import "inter-ui/inter-variable.css";

@import "@opengovsg/oui-theme/tailwind.css";
@source "../../packages/components/src/**/*.{js,jsx,ts,tsx}";
@source "../../packages/components/stories/**/*.stories.{js,jsx,ts,tsx}";
@source "../../packages/theme/src/components/**/*.{js,jsx,ts,tsx}";
@source "../../packages/theme/src/utils/**/*.{js,jsx,ts,tsx}";
@source "../../packages/theme/stories/**/*.{js,jsx,ts,tsx}";

/* This will be generated for other themes */
@layer base {
  :root {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

    @supports (font-variation-settings: normal) {
      --font-sans: "InterVariable", ui-sans-serif, system-ui, sans-serif;
    }

    --theme-text-color-default: #454953;
    --theme-text-color-strong: #2c2e34;
    --theme-text-color-white: #ffffff;
    --theme-text-color-subtle: #666c7a;
    --theme-text-color-placeholder: #838894;
    --theme-text-color-disabled: #a0a4ad;
    --theme-text-color-inverse: #ffffff;
    --theme-text-color-primary: #1361f0;
    --theme-text-color-neutral: #666c7a;
    --theme-text-color-warning: #ffda68;
    --theme-text-color-success: #0f796f;
    --theme-text-color-danger: #c03434;
    --theme-text-color-info: #1361f0;
    --theme-text-color-primary-hover: #000;
    --theme-text-color-neutral-hover: #000;
    --theme-text-color-warning-hover: #000;
    --theme-text-color-success-hover: #000;
    --theme-text-color-danger-hover: #000;
    --theme-text-color-info-hover: #000;
    --theme-text-color-primary-active: #000;
    --theme-text-color-neutral-active: #000;
    --theme-text-color-warning-active: #000;
    --theme-text-color-success-active: #000;
    --theme-text-color-danger-active: #000;
    --theme-text-color-info-active: #000;
    --theme-text-color-primary-strong: #000;
    --theme-text-color-neutral-strong: #000;
    --theme-text-color-warning-strong: #000;
    --theme-text-color-success-strong: #000;
    --theme-text-color-danger-strong: #000;
    --theme-text-color-info-strong: #000;
    --theme-text-color-primary-strong-hover: #000;
    --theme-text-color-neutral-strong-hover: #000;
    --theme-text-color-warning-strong-hover: #000;
    --theme-text-color-success-strong-hover: #000;
    --theme-text-color-danger-strong-hover: #000;
    --theme-text-color-info-strong-hover: #000;
    --theme-text-color-primary-strong-active: #000;
    --theme-text-color-neutral-strong-active: #000;
    --theme-text-color-warning-strong-active: #000;
    --theme-text-color-success-strong-active: #000;
    --theme-text-color-danger-strong-active: #000;
    --theme-text-color-info-strong-active: #000;
    --theme-background-color-base: #ffffff;
    --theme-background-color-alt: #f8f9f9;
    --theme-background-color-backdrop: #e9e9e9;
    --theme-background-color-disabled: #ededed;
    --theme-background-color-inverse: #000;
    --theme-background-color-brand: #000;
    --theme-background-color-primary: #000;
    --theme-background-color-neutral: #000;
    --theme-background-color-warning: #000;
    --theme-background-color-success: #000;
    --theme-background-color-danger: #000;
    --theme-background-color-info: #000;
    --theme-background-color-primary: #000;
    --theme-background-color-neutral: #000;
    --theme-background-color-warning: #000;
    --theme-background-color-success: #000;
    --theme-background-color-danger: #000;
    --theme-background-color-info: #000;
    --theme-background-color-primary-active: #000;
    --theme-background-color-neutral-active: #000;
    --theme-background-color-warning-active: #000;
    --theme-background-color-success-active: #000;
    --theme-background-color-danger-active: #000;
    --theme-background-color-info-active: #000;
    --theme-background-color-banner-primary: #000;
    --theme-background-color-banner-neutral: #000;
    --theme-background-color-banner-warning: #000;
    --theme-background-color-banner-success: #000;
    --theme-background-color-banner-danger: #000;
    --theme-background-color-banner-info: #000;
    --theme-background-color-primary-subtle: #000;
    --theme-background-color-neutral-subtle: #000;
    --theme-background-color-warning-subtle: #000;
    --theme-background-color-success-subtle: #000;
    --theme-background-color-danger-subtle: #000;
    --theme-background-color-info-subtle: #000;
    --theme-background-color-primary-subtle-hover: #000;
    --theme-background-color-neutral-subtle-hover: #000;
    --theme-background-color-warning-subtle-hover: #000;
    --theme-background-color-success-subtle-hover: #000;
    --theme-background-color-danger-subtle-hover: #000;
    --theme-background-color-info-subtle-hover: #000;
    --theme-background-color-primary-subtle-active: #000;
    --theme-background-color-neutral-subtle-active: #000;
    --theme-background-color-warning-subtle-active: #000;
    --theme-background-color-success-subtle-active: #000;
    --theme-background-color-danger-subtle-active: #000;
    --theme-background-color-info-subtle-active: #000;
    --theme-border-color-default: #000;
    --theme-border-color-subtle: #000;
    --theme-border-color-disabled: #000;
    --theme-border-color-focus-ring: #1361f0;
    --theme-border-color-primary: #000;
    --theme-border-color-neutral: #000;
    --theme-border-color-warning: #000;
    --theme-border-color-success: #000;
    --theme-border-color-danger: #000;
    --theme-border-color-info: #000;
    --theme-border-color-primary-hover: #000;
    --theme-border-color-neutral-hover: #000;
    --theme-border-color-warning-hover: #000;
    --theme-border-color-success-hover: #000;
    --theme-border-color-danger-hover: #000;
    --theme-border-color-info-hover: #000;
    --theme-border-color-primary-active: #000;
    --theme-border-color-neutral-active: #000;
    --theme-border-color-warning-active: #000;
    --theme-border-color-success-active: #000;
    --theme-border-color-danger-active: #000;
    --theme-border-color-info-active: #000;
    --theme-border-color-primary-strong: #000;
    --theme-border-color-neutral-strong: #000;
    --theme-border-color-warning-strong: #000;
    --theme-border-color-success-strong: #000;
    --theme-border-color-danger-strong: #000;
    --theme-border-color-info-strong: #000;
    --theme-background-color-tooltip: #000;
    --theme-background-color-input: #000;
    --theme-background-color-input-active: #000;
    --theme-background-color-input-disabled: #000;
    --theme-border-color-input: #000;
    --theme-background-color-btn-primary: #1361f0;
    --theme-background-color-btn-primary-hover: #0d4fca;
    --theme-background-color-btn-primary-active: #0b44ac;
    --theme-text-color-btn-primary: #000;
    --theme-text-color-btn-primary-hover: #000;
    --theme-text-color-btn-primary-active: #000;
    --theme-border-color-btn-primary: #000;
    --theme-background-color-btn-secondary: #5d6785;
    --theme-background-color-btn-secondary-hover: #465173;
    --theme-background-color-btn-secondary-active: #3c4764;
    --theme-text-color-btn-secondary: #000;
    --theme-text-color-btn-secondary-hover: #000;
    --theme-text-color-btn-secondary-active: #000;
    --theme-border-color-btn-secondary: #000;
    --theme-background-color-btn-destructive: #c03434;
    --theme-background-color-btn-destructive-hover: #992a2a;
    --theme-background-color-btn-destructive-active: #852424;
    --theme-text-color-btn-destructive: #000;
    --theme-text-color-btn-destructive-hover: #000;
    --theme-text-color-btn-destructive-active: #000;
    --theme-border-color-btn-destructive: #000;
  }

  .dark {
  }
}
